[data-sidebar-style="mini"],
[data-layout="horizontal"] {
    .nav-control {
        display: none;
    }
}

[data-sidebar-style="overlay"] {
    @include respond('phone-land') {
        .nav-header .logo-abbr {
            display: block;
        }
    }
}

[data-header-position="fixed"] {
    .nav-header {
        position: fixed;
        left: 1.25rem;
		@include respond ('phone-land'){
			left:0;
		}
    }
}

.nav-header {
    height: 6.3rem;
    width: 20.5rem;
    display: inline-block;
    text-align: left;
    position: absolute;
    left: 1.25rem;
    top: 1.25rem;
    background-color:var(--nav-headbg);
    transition: all .2s ease;
    z-index: 5;
	
    .logo-abbr {
        max-width: 150px;
		@include respond('laptop') {
			max-width: 150px;
		}
		@include respond('phone') {
			width:35px;
			height:35px;
		}
		
    }
    .logo-compact {
        display: none;
    }
	
	@include respond ('laptop'){
		height:5.5rem;
        width: 17rem;
	}
    .brand-logo {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        font-size: 1.125rem;
        color: $white;
        text-decoration: none;
        padding-left: 30px;
        padding-right: 30px;
        font-weight: 700;
		
		@include respond('laptop') {
			padding-left: 20px;
			padding-right:20px;
		}
		
        [data-sidebar-style="compact"] &,
        [data-sidebar-style="mini"] & {
            padding-left: 0;
            padding-right: 0;
            justify-content: center;
        }
        @include respond('phone-land') {
            padding-left: 0;
            padding-right: 0;
            justify-content: center;
        }
    }
    .brand-title {
		margin-left: 15px;
		margin-top:15px;
		max-width: 140px;
		font-size: 38px;
		color: $black;
        @at-root [data-theme-version="dark"] & {
            background-position: 0 120%;
        }
    }
	@include respond ('phone-land'){
		top:0;
		background:transparent;
		.svg-logo-primary-path{
			fill:var(--primary)!important;
		}
		.logo-abbr path{
			&:nth-child(1){
				fill:#759DD9!important;
			}
			&:nth-child(2){
				fill:#F8A961!important;
			}
		}
	}
	.svg-logo-primary-path{
		fill:var(--primary);
	}
}

@include respond('tab-land') {
	.nav-header {
		height:5rem;
    }
}
@include custommq($max:1023px) {
    .nav-header {
        width: 5rem;
        .brand-title {
            display: none;
        }
    }
}

.nav-control {
    cursor: pointer;
    position: absolute;
    right: 1.75rem;
    text-align: center;
    top: 55%;
    transform: translateY(-50%);
    z-index: 9999;
    font-size: 1.4rem;
    padding: 2px 0.5rem 0;
    border-radius: 2px;
    @include respond('laptop') {
		right: 0.75rem;
	}
    @include respond('phone-land') {
        right: -3rem;
    }
	@include respond('phone') {
        right: -3rem;
    }
}

////////////////////
// Humbuger Icon
////////////////////
.hamburger {
    display: inline-block;
    left: 0px;
    position: relative;
    top: 3px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    width: 26px;
    z-index: 999;
}

.hamburger .line {
    background: $black;
    display: block;
    height: 3px;
    border-radius: 3px;;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
	@include respond ('phone-land'){
		background:$black!important;
	}
}

.hamburger .line:nth-child(1) {
    width: 26px;
}

.hamburger .line:nth-child(2) {
    width: 26px;
}

.hamburger .line:nth-child(3) {
    width: 15px;
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger:hover .line {
    width: 26px;
}


.hamburger.is-active .line:nth-child(1),
.hamburger.is-active .line:nth-child(3) {
    width: 10px;
    height: 2px;
}

.hamburger.is-active .line:nth-child(2) {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    width: 22px;
    height: 2px;
}

.hamburger.is-active .line:nth-child(1) {
    -webkit-transform: translateY(4px) translateX(12px) rotate(45deg);
    transform: translateY(4px) translateX(12px) rotate(45deg);
}

.hamburger.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-4px) translateX(12px) rotate(-45deg);
    transform: translateY(-4px) translateX(12px) rotate(-45deg);
}

@media (min-width:767px) {
    [data-sidebar-style="compact"] {
        .nav-control {
            display: none;
        }
        .nav-header {
            width: 11.25rem;
        }
    }
}

[data-sidebar-style="full"][data-layout="vertical"] {
    .menu-toggle {
        .brand-title {
            display: none;
        }
        .nav-header {
            .logo-abbr {
                display: block;
            }
        }
    }
}

[data-sidebar-style="full"][data-layout="horizontal"] {
    .logo-compact {
        display: none;
    }
}

[data-sidebar-style="mini"] {
    .nav-header {
        .logo-abbr {
            display: block;
        }
    }
}

[data-sidebar-style="compact"][data-layout="vertical"] {
    .nav-header {
        .brand-title {
            display: none;
        }
        .logo-compact {
            max-width: 75px;
        }
    }
}
[data-sidebar-style="compact"][data-layout="horizontal"] {
    .nav-header .brand-logo {
        padding-left: 30px;
		padding-right: 30px;
		justify-content: start;
    }
}
[data-sidebar-style="modern"][data-layout="vertical"] {
    .nav-header {
        width: 10.625rem;
        .brand-title {
            display: none;
        }
        .logo-compact {
            display: none;
        }
    }
}